<div class="dashboard">
  <app-controls (speedChange)="speedUnit = $event" (tempChange)="tempUnit = $event"></app-controls>

  <div class="add-city-container mat-elevation-z8">
    <app-city-search (citySelected)="addCity($event)" [citiesOptions]="allCities"></app-city-search>
  </div>

  <div class="cards-container">
    <app-city-current-weather [city]="city" [date]="date" [tempUnit]="tempUnit" [speedUnit]="speedUnit"
                              (cityRemoved)="removeCity($event)"
                              *ngFor="let city of selectedCities">
    </app-city-current-weather>
    <div class="no-cities-msg" *ngIf="selectedCities.length === 0"> No cities have been selected, try searching and
      adding one using the search box at the top`
    </div>
  </div>
</div>
