<div class="col-12 d-flex align-items-center justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-6 p-4 pink border-radius ">

    <div>
      <h1 class="text-center font-regular">Overview</h1>
      <hr />
      <div class="col-12">
        First Name : {{user.firstname}}
      </div>
      <div class="col-12">
        Last Name : {{user.lastname}}
      </div>
      <div class="col-12">
        Address :{{user.address}}
      </div>
      <div class="col-12">
        Phone : {{user.phone}}
      </div>
    </div>

  </div>
</div>
